<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>home</mat-icon>
    </button>
    <h1>Layout Demonstration</h1>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="main-div">
  <mat-card class="mat-elevation-z5" style="width: 50vw">
    <mat-card-title style="margin-top: 1%">Registration Form</mat-card-title>
    <br /><br />
    <mat-card-content>
      <div class="example-container">
        <div class="form-container">
          <form [formGroup]="regForm" (submit)="submit()">
            <mat-form-field
              class="form-field"
              appearance="outline"
              style="width: 24vw"
            >
              <mat-label> First Name </mat-label>
              <input matInput formControlName="name" required />
              <mat-error
                *ngIf="
                  regForm.controls.name.touched && regForm.controls.name.invalid
                "
              >
                <span *ngIf="regForm.controls.name.errors.required"
                  >This field is mandatory.</span
                >
              </mat-error>
            </mat-form-field>
            <mat-form-field
              class="form-field ml-2"
              appearance="outline"
              style="width: 24vw; margin-left: 4%"
            >
              <mat-label> Last Name </mat-label>
              <input matInput formControlName="lastname" required />
              <mat-error
                *ngIf="
                  regForm.controls.lastname.touched &&
                  regForm.controls.lastname.invalid
                "
              >
                <span *ngIf="regForm.controls.lastname.errors.required"
                  >This field is mandatory.</span
                >
              </mat-error>
            </mat-form-field>
            <mat-form-field
              class="form-field"
              appearance="outline"
              style="width: 50vw"
            >
              <mat-label> E-mail </mat-label>
              <input matInput formControlName="email" required />
              <mat-error
                *ngIf="
                  regForm.controls.email.touched &&
                  regForm.controls.email.invalid
                "
              >
                <span *ngIf="regForm.controls.email.errors.required"
                  >This field is mandatory.</span
                >
                <span *ngIf="regForm.controls.email.errors.pattern"
                  >This field is invalid.</span
                >
              </mat-error>
            </mat-form-field>
            <mat-form-field
              class="form-field"
              appearance="outline"
              style="width: 50vw"
            >
              <mat-label> Password </mat-label>
              <input matInput formControlName="password" type="password" />
              <mat-error
                *ngIf="
                  regForm.controls.password.touched &&
                  regForm.controls.password.invalid
                "
              >
                <span *ngIf="regForm.controls.password.errors.required"
                  >This field is mandatory.</span
                >
                <span *ngIf="regForm.controls.password.errors.minlength"
                  >Password must be at least 8 characters
                </span>
              </mat-error>
            </mat-form-field>
            <br />
            <div>
              <label style="margin-left: 1%">Gender: </label>
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button class="radio-button" value="1"
                  >Male
                </mat-radio-button>
                <mat-radio-button class="radio-button" value="2"
                  >Female
                </mat-radio-button>
                <mat-radio-button class="radio-button" value="3"
                  >Custom
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <br />
            <mat-form-field
              class="form-field"
              appearance="outline"
              style="width: 24vw"
            >
              <mat-label> Street Address </mat-label>
              <input matInput formControlName="address" />
            </mat-form-field>
            <mat-form-field
              class="form-field"
              appearance="outline"
              style="width: 24vw; margin-left: 4%"
            >
              <mat-label> Postal Code </mat-label>
              <input matInput formControlName="postcode" />
            </mat-form-field>
            <br /><br />
            <button mat-raised-button color="primary" type="submit">
              Register
            </button>
            <br /><br />
            <mat-progress-bar
              *ngIf="showSpinner"
              mode="indeterminate"
            ></mat-progress-bar>
          </form>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
